.not-found {
	width: 70%;
	height: 70%;
}

.friend-card {

}

.friend-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.msg-from {
	color: skyblue;
}

.friend-option-card {
	display: flex;
	justify-content: space-between;
	height: 90px;
	align-items: center;
}